{
  "presets": ["next/babel"],
  "plugins": [
    "transform-decorators-legacy",
    ["import", {
        "libraryName": "antd",
    }],
    ["module-resolver", {
      "alias": {
        "~": "./src"
      }
    }]
  ]
}
